* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  html, body {
    height: 100%;
    margin: 0;
  }
  
  body {
    transform-style: preserve-3d;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  }
  
  a{
      text-decoration: none;
      color: #fff;
  }
  .container {
    color: #fff;
    margin: 0 auto;
    padding: 0.5rem;
    text-align: center;
  }
  
  .card {
    border: 1px solid #c4c4c4;
    border-radius: 5px;
    padding: 20px;
    transform: translateZ(2px);
    transform-style: preserve-3d;
    backface-visibility: hidden;
    display: flex;
    background: linear-gradient(45deg, rgba(244, 67, 54, 0.8), rgba(244, 67, 54, 0.9));
    box-shadow: 2px 4px 6px rgba(60, 60, 60, 0.6), inset -4px -4px 10px rgba(247, 247, 247, 0.6);
  }
  .card:after {
    content: " ";
    position: absolute;
    width: 100%;
    height: 10px;
    border-radius: 50%;
    left: 0;
    bottom: -50px;
    box-shadow: 0 30px 20px rgba(0, 0, 0, 0.3), inset -4px -4px 10px rgba(247, 247, 247, 0.6);
  }
  .card .card-content li {
    display: inline-block;
    list-style-type: none;
    padding: 0.5em;
    text-transform: uppercase;
    transform: translateZ(65px);
    text-shadow: 2px -2px #3C3C3C;
  }
  .card .card-content li span {
    transform: translateZ(60px);
    display: block;
    font-size: 3.5rem;
    text-shadow: 1px -4px #3C3C3C;
  }
  .card .card-content h1 {
    font-weight: normal;
    font-size: 1.45em;
    transform: translateZ(40px);
    text-shadow: 2px -2px #3C3C3C;
  }
  .card .card-content p {
    transform: translatez(40px);
    text-shadow: 2px -2px #3C3C3C;
  }